{% load static %}
{% block title %}{% endblock %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title ></title>
</head>
<body onload="examTime()">
	<div>
		<p align = "center"><font size="6" color="black"><b>全国大学生英语六级在线考试(2023年6月)</b></font></p>
		<p align = "center"><span><font size="4.5" color="black">满分100分</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">单选题40分</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">多选题60分</font></span></p>
		<p align = "center"><span><font size="4.5" color="black">考试时间:&nbsp;&nbsp;60分钟</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">计时:</font></span><span id="time" style="color: red"></span></p>
		<form class='form-register' action="/homepage/answer/" method="post">
			{% csrf_token %}
			<div class="form-group">
				<p align = "left"><b><span><font size="4.5" color="black">Part I</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">Writing</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">(30 minutes)</font></span></b></p>
            </div>
			<br/>
			<p><b>Directions: </b>{{ paper.writing }}</p>
			<br />
			<p>
                &emsp;&emsp;<textarea name="writing_ans" cols="180" rows="20">{{ userans.writing_ans }}</textarea>
            </p>
			<br />
			<div class="form-group">
				<p align = "left"><b><span><font size="4.5" color="black">Part II</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">Listening Comprehension</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">(30 minutes)</font></span></b></p>
            </div>
			<p><strong>Directions:</strong> In this section, you will hear two long conversations. At the end of each conversation,
				you will hear four questions. Both the conversation and the questions will be spoken only once.
				After you hear a question, you must choose the best answer from the four choices marked A), B), C) and D).
				Then mark the corresponding letter <strong>on Answer Sheet I</strong> with a single line through the centre.</p>
			<br />
			{% for i in listenings %}
			<strong>Question {{i.id}}:</strong> <br /> <input
				type="radio" name=Q{{i.id}} value="A" />&ensp;A&emsp;{{i.A}} <br /> <input
				type="radio" name=Q{{i.id}} value="B" />&ensp;B&emsp;{{i.B}} <br /> <input
				type="radio" name=Q{{i.id}} value="C" />&ensp;C&emsp;{{i.C}} <br /> <input
				type="radio" name=Q{{i.id}} value="D" />&ensp;D&emsp;{{i.D}} <br />
			<br />
			{% endfor %}

			<div class="form-group">
				<p align = "left"><b><span><font size="4.5" color="black">Part III</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">Reading Comprehension</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">(40 minutes)</font></span></b></p>
            </div>
			<p><strong>Directions:</strong>There are 2 passages in this section. Each passage is followed by some questions or
				unfinished statements. For each of them there are four choices marked A), B), C) and D). You should decide on
				the best choice and mark the corresponding letter <strong>on Answer Sheet 2</strong> with a single line through
				the centre.</p>
			<br />
			<p>{{ paper.reading }}</p>
			<br/>
			{% for i in readings %}
			<strong>Question {{i.id}}:</strong> {{i.qu}}<br /> <input
				type="radio" name=Q{{i.id}} value="A" />&ensp;A&emsp;{{i.A}} <br /> <input
				type="radio" name=Q{{i.id}} value="B" />&ensp;B&emsp;{{i.B}} <br /> <input
				type="radio" name=Q{{i.id}} value="C" />&ensp;C&emsp;{{i.C}} <br /> <input
				type="radio" name=Q{{i.id}} value="D" />&ensp;D&emsp;{{i.D}} <br />
			<br />
			{% endfor %}

			<div class="form-group">
				<p align = "left"><b><span><font size="4.5" color="black">Part IV</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">Translation</font></span>&nbsp;&nbsp;&nbsp;&nbsp;<span><font size="4.5" color="black">(30 minutes)</font></span></b></p>
            </div>
			<br />
			<p><strong>Directions:</strong> Directions: For this part, you are allowed 30 minutes to translate a
				passage from Chinese into English. You should write your answer <strong>on Answer Sheet 2</strong>.</p>
			<br />
			<p>{{ paper.translation }}</p>
			<br />
			<p>
                &emsp;&emsp;<textarea name="translation_ans" cols="180" rows="20">{{ userans.translation_ans }}</textarea>
            </p>
            <!--  文件域-->
            <p>
				<button type="submit" onclick="alert('您已交卷，考试结束！')" class="btn btn-default pull-left">交卷</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a id="a" href="/index/">退出当前系统</a>
			</p>
		</form>
	</div>
</body>
<script>
	var time = 120 * 60;
	function examTime() {
		//得到class为time的span标签
		var spanTime = document.getElementById("time");
		--time;
		//获取小时
		var hour = parseInt(time / 3600);
		//获取分钟
		var min = parseInt(time % 3600 / 60);
		//获取秒
		var second = time - hour * 3600 - min * 60;
		//将这个标签设置为time
		spanTime.innerHTML = min + "分钟" + second + "秒";
		//判断时间到了就提交
		if (time == 0) {
			alert("考试结束")
			document.exam.submit();
		}
		setTimeout("examTime()", 1000);
	};
</script>
</html>

{% endblock %}