{% extends 'login/base.html' %}
{% block title %}可报名信息{% endblock %}
{% block content %}
<style type="text/css">
    #sheet {
          border: solid rgb(18, 17, 17);   /*设置边框样式跟颜色*/
          margin: 50 auto;   /*设置div居中*/
          width: 500px;  /*设置div宽度*/
          height: 230px; /*设置div高度*/
          border-width: 1px; /*设置边框宽度*/
          background: rgb(252, 250, 250);  /*设置背景色*/
      }
    </style>
    <div class="container" style="padding:200px 0 0 430px;">
        <div class="col-md-4 col-md-offset-4">
            <div id="sheet">
            <h2 class="text-center"><font color="black">报名信息查询</font></h2>
            <p class="text-center"><font color="red">你还未报名！</font></p>
            <table class="table">
                <tr>
                    <th><font color="black">考试类别</font></th>
                    <th><font color="black">考点</font></th>
                    <th><font color="black">开考时间</font></th>
                    <th><font color="black">剩余容量</font></th>
                </tr>
                <tr>
                    <td><font color="black">{{ exam.exam_type }}</font></td>
                    <td><font color="black">{{ exam.exam_point }}</font></td>
                    <td><font color="black">{{ exam.exam_time }}</font></td>
                    <td><font color="black">{{ exam.number }}</font></td>
                </tr>
            </table>
        </div>
        </div>
    </div>
{% endblock %}