{% extends 'login/base.html' %}
{% block title %}考试界面{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">考试须知</h1>
            <h4 class="text-lift">请仔细核对以下考试信息，确认无误后，点击”开始考试“</h4>
            <div class="form-group">
                <div class="col-md-4 text-left"><span>考生姓名:</span></div>
                <div class="col-md-8 text-right">{{ user.user_true_name }}</div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-left"><span>身份证号:</span></div>
                <div class="col-md-8 text-right">{{ user.user_id }}</div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-left"><span>所在学校:</span></div>
                <div class="col-md-8 text-right">{{ user.user_school }}</div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-left"><span>考场:</span></div>
                <div class="col-md-8 text-right">{{ exam_entry.exam_point }}</div>
            </div>
            <div class="form-group">
                <div class="col-md-4 text-left"><span>考试时间:</span></div>
                <div class="col-md-8 text-right">{{ exam_entry.exam_time }}</div>
            </div>
            <h4 class="text-lift">考试流程</h4>
            <div class="form-group">
                <div class="col-md-8 text-left"><span>考试时长:</span></div>
                <div class="col-md-4 text-right"><span>125 min</span></div>
            </div>
            <div class="form-group">
                <div class="col-md-8 text-left"><span>1. 听力试音：</span></div>
                <div class="col-md-4 text-right"><span>5 min</span></div>
            </div>
            <div class="form-group">
                <div class="col-md-8 text-left"><span>2. 作文考试阶段：</span></div>
                <div class="col-md-4 text-right"><span>30 min</span></div>
            </div>
            <div class="form-group">
                <div class="col-md-8 text-left"><span>3. 听力考试阶段：</span></div>
                <div class="col-md-4 text-right"><span>30 min</span></div>
            </div>
            <div class="form-group">
                <div class="col-md-8 text-left"><span>4. 阅读和翻译考试阶段：</span></div>
                <div class="col-md-4 text-right"><span> 60min</span></div>
            </div>
            <div class="col-md-8 text-right">
                  <a href="/homepage/answer/">
                      <input name="answer" class="btn btn-primary pull-right" type="button" value="开始考试">
                  </a>
              </div>
        </div>
    </div>


{% endblock %}