{% extends 'login/base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}

    <style type="text/css">
        #text {
              border: solid rgb(18, 17, 17);   /*设置边框样式跟颜色*/
              margin: 50 auto;   /*设置div居中*/
              width: 300px;  /*设置div宽度*/
              height: 600px; /*设置div高度*/
              border-width: 1px; /*设置边框宽度*/
              background: rgb(252, 250, 250);  /*设置背景色*/
          }
          #footer {
              position :fixed;
              bottom:0;
          }
          /* #button{

        width:500px;

        height: 500px;

        background-color: rgb(171, 80, 147);

        } */
        </style>
        
        {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        <h1 ><font size="5.2" color="black">你好,{{ request.session.user_name }}！欢迎来到学生界面！</font></h1>


    <div style="padding:150px 0 0 1080px;line-height:4em;" class="main_info_l">
        <button type="button" onclick= "window.location.href='/homepage/cet_6/' "><font size="6" color="black"><b>英语六级报名</b></font></button>
        <button type="button" onclick= "window.location.href='/homepage/my_data/' "><font size="6" color="black"><b>个人信息查询</b></font></button>
        <button type="button" onclick= "window.location.href='/homepage/query_results/' "><font size="6" color="black"><b>报考信息查询</b></font></button>
        <button type="button" onclick= "window.location.href='/homepage/online_test/' "><font size="6" color="black"><b>在线六级考试</b></font></button>   
    </div>
    
    {% else %}
    <h1 >您尚未登录，只能访问公开内容！</h1>
    <div style="height:30px; clear:both"></div>
    <div style="margin-right: 5%; margin-left: 50%;">
  <div id="content">
      <div class="title_b" style="font-size:14px;">
          <a href="#"><img src="https://resource.neea.edu.cn/project/CET/images/news.jpg" width="480" height="60" alt="" /></a>
          <div style="padding:10px;line-height:1.4em;" class="main_info_l">
              <h4>2023年上半年考试时间:</h4>
              <ul style="margin-top: 0.3em;">
                  <li>笔试:6-17</li>
                  <li><span>上午：英语、日语、德语、俄语、法语四级</span></li>
                  <li><span>下午：英语、日语、德语、俄语六级</span></li>
                  <li>口语：</li>
                  <li><span>5-20:英语四级</span><span style="padding-left:4em;">5-21:英语六级</span></li>
              </ul>
          </div>
          <hr class="hr_line" />
          <div style="padding:10px;line-height:1.6em;" class="main_info_l">
              <h4>2023年上半年考试报名提示:</h4>
              <ul style="margin-top:0.3em;">
                  <li>1. 报名未开始前，考生可进行注册及学籍信息验证操作，个人信息错误请及时与所在学校有关部门联系更正。具体报名时间以各学校通知为准。</li>
                  <li>2. 请在报名完成后24小时内完成缴费,并再次登录系统确认是否报名成功，如有疑问可拨打客服电话进行咨询。</li>
                  <li>3. <span style="color:red;padding-right:0.2em;">关于调整全国大学英语四、六级口语考试成绩报告方式的通知：</span>[<a href="https://resource.neea.edu.cn/project/CET/News/CandidateNotice-CET-SET-Transcript.pdf?v=231.0" target="_blank">点击查看</a>]。</li>
               </ul>
          </div>
      </div>
  </div>
</div>
    {% endif %}
{% endblock %}
