<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试时间</title>
</head>
<body>  
<style type="text/css">
    table tr td {
        border: 1px solid #9dcdff;
        line-height: 2em;
        height: 2em;
    }

    p {
        line-height: 2em;
    }

    .style1 {
        margin: 5px 0px 5px 10px;
        text-align: left;
    }

    body {
        padding: 0;
        margin: 0;
        font-family: "微软雅黑";
    }
    #footer {
            position :fixed;
            bottom:0;
        }
</style>
<div id="main" class="" style="color: black; font-size: 14px; ">

    <div style="margin-right: 5%; margin-left: 5%;">
        <table width="80%" cellpadding="1" cellspacing="0" align="center" style="border: 1px solid #FFFFFF;
            margin-right: 10%; margin-left: 10%; height: 50px;">
            <tr style="border: 1px solid #FFFFFF; height: 50px;">
                <td colspan="7" style="border: 1px solid #FFFFFF; line-height: 2em;">
                    <p align="center" style="color: #212963; font-size: 24px; font-weight: bolder; border-bottom: 1px solid #d580be;
                        padding-bottom: 13px;">
                        考试时间
                    </p>
                </td>
            </tr>
        </table>
        <br />
        <div align="center" style="font-size: 16px; text-decoration: underline; line-height: 2em;">
            <br />
            <br />
            <br />
            <p>
                <a href="https://resource.neea.edu.cn/project/CET/News/TestDataPlan-CET.pdf?v=231.1">点击查看2023年上半年CET考试时间及开考科目安排</a>
            </p>
            <br />
            <p>
                <a href="https://resource.neea.edu.cn/project/CET/News/TestDataPlan-CET-SET.pdf?v=231.1">点击查看2023年上半年CET口试考试时间及科目安排</a>
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="margin-right: 35%; margin-left: 35%;">
        <div id="footer">
            <div id="">
                <p>
                    <span>
                        &copy;2023
                        <span style="padding-left:0.5em;">教育部教育考试院</span>
                        <span style="padding-left:0.5em;">版权所有</span>
                    </span>
                    <span style="padding-left: 0.5em;">(Powered by :3B43B8)</span>
                    <br />
                    <font color="red">建议浏览器:火狐浏览器、谷歌浏览器、IE9+、360浏览器(选择极速模式)</font><br />
                </p>
            </div>
        </div>
    </div>
</body>
</html>